.styled-btn {
  background: 
  linear-gradient(to right,#5e0000, #9C0B0B, #5e0000) center,
  linear-gradient(135deg, transparent 10px, #5e0000 0), top left,
    linear-gradient(-45deg, transparent 10px, #5e0000 0) bottom right;
  border-radius: 5px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

@media screen and (min-width: 640px) {
  .styled-btn {
    background: 
    linear-gradient(to right,#5e0000, #9C0B0B, #5e0000) center,
    linear-gradient(135deg, transparent 15px, #5e0000 0), top left,
      linear-gradient(-45deg, transparent 15px, #5e0000 0) bottom right;
    border-radius: 5px;
    background-size: 50% 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  }
}
@media screen and (min-width: 1024px) {
  .styled-btn {
    background: 
    linear-gradient(to right,#5e0000, #9C0B0B, #5e0000) center,
    linear-gradient(135deg, transparent 22px, #5e0000 0), top left,
      linear-gradient(-45deg, transparent 22px, #5e0000 0) bottom right;
    border-radius: 10px;
    background-size: 50% 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  }
}

/* .test-btn {
  background-image: url('./assets/images/test-btn.png');
  border-image-source: url('./assets/images/test-btn.png');
  /* border-image-slice: 2px fill 2px fill;
  background-repeat: round;
} */

.font-GoreBold {
  font-family: "Gore";
}
