
.content-background {
  background-color: transparent; 
}

.bg-button {
  background: linear-gradient(to bottom right, #FFFFFF -100% , transparent);
}

.bg-area {
  background: linear-gradient(to bottom right, #D8D8D8 -200% , transparent);
}


.font-matrice-medium {
  font-family: 'Matrice-medium';
}

.font-Montserat {
  font-family: 'Epilogue', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.font-Matrice {
  font-family: 'Matrice-smiBold';
}

.font-matrice-bold {
  font-family: 'Matrice-Bold';
}
.font-matrice-regular {
  font-family: 'Matrice-Regular';
}

.inner-shadow {
  /* box-shadow: inset 0 0 20px 5px #f8a100; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.dropdown {
  opacity: 0;
  transition: all ease 0.5s;
}

div[id^='dropdownid']:hover + .dropdown {
  opacity: 1;
}