
.content-background {
  background-color: transparent; 
}

.bg-button {
  background: linear-gradient(to bottom right, #FFFFFF -100% , transparent);
}

.bg-area {
  background: linear-gradient(to bottom right, #D8D8D8 -200% , transparent);
}


.font-matrice-medium {
  font-family: 'Matrice-medium';
}

.font-Montserat {
  font-family: 'Epilogue', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.font-Matrice {
  font-family: 'Matrice-smiBold';
}