@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matrice-smiBold";
  src: url("./fonts/Matrice-SemiBold.woff");
}

@font-face {
    font-family: 'Matrice-medium';
    src: url('./fonts/Matrice-Medium.woff');
}